@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.form-button{
  cursor:pointer;
}

//main-container全局样式
.app-main {
  min-height: 100%;
  background: #eff3f6;
}

.app-container {
  padding: 20px;
}

p,h3,h4 {
  font-size: 14px;
  font-family: PingFang-SC-Heavy;
  color: rgba(89, 97, 116, 1);
  display: inline-block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3 {
  font-weight: 800;
}

h4 {
  font-weight: 800;
  display: inline-block;
}

.container{
  background: #fff;
  margin: 30px;
  min-height: 100vh;
  min-width: 760px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(12, 6, 14, 0)
}

//提示
.tip{
  margin: 18px 0;
  line-height: 0.6em;
  &-title{
    font-weight: 600;
  }
  &-content{
    display: flex;
    flex-direction: column;
  }
}

.contant-container {
  margin: 0 auto;
  width: 96%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(12, 6, 14, 0.1);
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  .left-container {
    width: 26%;
    min-width: 400px;
  }
  .right-container {
    width: 65%;
  }
  .sub-container {
    background: rgba(247, 247, 247, 1);
    border-radius: 2px;
    min-height: 90vh;
    height: 100%;
    position: relative;
  }
}

.content-handle {
  margin: 0 auto;
  width: 96%;
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}



//@at-root
.tabelContainerStyle {
  .headerStyle {
    font-size: 16px;
    font-family: PingFang-SC-Heavy;
    font-weight: 800;
    color: rgba(89, 97, 116, 1);
    line-height: 16px;
    height: 16px;
  }
  .headerCell {
    padding: 0;
    text-align: center;
  }

  .contant-container {
    margin: 0 auto;
    width: 96%;
    min-height: 100vh;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(12, 6, 14, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    .left-container {
      width: 26%;
      min-width: 300px;
    }
    .right-container {
      width: 65%;
    }
    .sub-container {
      background: rgba(247, 247, 247, 1);
      border-radius: 2px;
      min-height: 90vh;
      position: relative;
    }
  }

  .content-handle {
    margin: 0 auto;
    width: 96%;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .wscnph {
    width: 100%;
    height: auto;
  }

  .rowStyle {
    background: rgba(247, 247, 247, 1);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(89, 97, 116, 1);
    line-height: 16px;
  }
  .tabelStyle {
    background: skyblue;
  }
  .el-table__header {
    border-collapse: separate;
    border-spacing: 0px 0px;
  }
  .el-table__body {
    border-collapse: separate;
    border-spacing: 0px 2px;
  }

  el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
  .el-table__body tr.current-row > td {
    background-color: rgba(24, 144, 255, 0.4);
    font-weight: 600;
    color: rgba(89, 97, 116, 1);
  }
  .current-row {
    border: 1px solid rgba(24, 144, 255, 1) !important;
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: rgba(24, 143, 255, 0.6);
    color: #ffffff;
    font-weight: 500;
  }
  .tableContainer {
    width: 100%;
  }
  .pagingStyle {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
  .TableHandleStyle {
    color: #848b9b;
    i {
      cursor: pointer;
    }
    i:hover {
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .conditionContainer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px;
    margin-bottom:50px; 
    padding-bottom:50px;
  }
  .searchProdact { 
    display: flex;
    align-items: center;
    margin-left: 0;
    p{
      margin-right: 4px;
    }
  }
}


.detailProdact{
  img{
    width: 100%;
    height: auto;
  }
}
.tinymceStyle{
  p{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
